@if (!string.IsNullOrWhiteSpace(PhotoUrl))
{
    <img class="@CssClass" src="@PhotoUrl" alt="" />
}
else
{
    <span class="@CssClass parent-avatar--logo" aria-hidden="true">
        <img src="images/tutorsphere-logo-full.png" alt="" />
    </span>
}

@code {
    [Parameter] public string? PhotoUrl { get; set; }
    [Parameter] public string CssClass { get; set; } = "topbar-user-photo";
}
