## Visual Studio
.vs/
*.user
*.suo

## Build
bin/
obj/
out/

## .NET
project.lock.json
project.fragment.lock.json
artifacts/

## IDE
.idea/
*.swp
*~

## OS
.DS_Store
Thumbs.db

## Secrets
appsettings.*.local.json
*.pfx
.env
.env.*

## Database
*.db
*.db-shm
*.db-wal

## Logs
logs/
*.log
