{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=TutorSphere;Username=postgres;Password=postgres"
  },
  "PayGateway": {
    "BaseUrl": "https://gisebsapipaygateway.gisebs.com",
    "AppCode": "TUTORSPHERE",
    "ApiKey": "gbsk_..."
  }
}
