@rendermode InteractiveServer
@using TutorSphere.Application.Common
@inject IStringLocalizer<Resources.SharedResources> L

<div class="language-selector">
    <label class="language-selector-label visually-hidden" for="culture-select">@L["Language_Select"]</label>
    <select id="culture-select"
            class="form-select form-select-sm culture-select"
            value="@CurrentCulture"
            @onchange="OnCultureChanged">
        @foreach (var (code, label, flag) in Languages)
        {
            <option value="@code">@flag @label</option>
        }
    </select>
</div>
