@inherits LayoutComponentBase

<HeadContent>
    <link rel="stylesheet" href="css/parent-dashboard.css" />
</HeadContent>

<div class="page dashboard-page">
    <div class="sidebar sidebar-navy">
        <ParentSidebar />
    </div>
    <main>
        <ParentTopbar />
        <article class="content px-4 parent-dashboard-content">
            @Body
        </article>
    </main>
</div>
