@inherits LayoutComponentBase

<div class="page dashboard-page">
    <div class="sidebar sidebar-navy">
        <StudentSidebar />
    </div>
    <main>
        <DashboardTopbar />
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
